<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../css/footerstyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="footer">
      <div class="overlap-group-wrapper">
        <div class="bar"></div>
          <div class="overlap">
            <div class="rectangle"></div>
            <div class="div"></div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="text-wrapper">FIND US</div>
              <a class= "button" href="https://instagram.com/"><div class="socials1-wrapper"><img id="socials1" src="../../img/instagram.svg" /></div></a>
              <a class= "button" href="https://facebook.com/"><div class="socials2-wrapper"><img id="socials2" src="../../img/facebook.svg" /></div></a>
              <a class= "button" href="https://twitter.com/"><div class="socials3-wrapper"><img id="socials3" src="../../img/twitter.svg" /></div></a>
            <div class="group"><img class="group-2" src="../../img/logo.png" /></div>
            <div class="rectangle-4"></div>
            <a href="https://instagram.com/" class="about">
              <span class="text-wrapper-1">ABOUT<br /></span> <span class="text-wrapper-2">SOLE<br />EXPRESSIONS</span>
            </a>
            <div class="rectangle-5"></div>
            <a href="https://instagram.com/" class="text-wrapper-3">GO TO HOME</a>
          </div>
          <div class="overlap-2">
            <div class="overlap-3">
              <div class="rectangle-6" id="contact">CONTACT US</div>
            </div>
            <div class="overlap-4">
              <a href="https://www.google.com/maps?q=28ης Οκτωβρίου 76, Αθήνα 104 34" id="address">28ης Οκτωβρίου 76</a>
              <img class="vector-4" src="../../img/map-marker.svg" />
            </div>
            <div class="overlap-5">
              <a href="mailto:info@expressions.com" id="email">info@xpressions.com</a>
              <img class="vector-5" src="../../img/mailbox-up.svg" />
            </div>
            <a href="tel:2105878634" id="phone">2105878634</a>
            <img class="vector-6" src="../../img/phone-classic.svg" />
          </div>
      </div>
    </div>
  </body>
</html>
